<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<div th:replace="~{fragment :: meta}"></div>
	
		<div th:replace="~{fragment :: styles}"></div>
	
		<title>店舗登録</title>
	</head>
	
	<body>
		<div class="nagoyamesi-wrapper">
			
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 nagoyamesi-container">
					<div class="row justify-content-center">
						<div class="col-xl-5 col-lg-6 col-md-8">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/admin/restaurants}">店舗一覧</a></li>
									<li class="breadcrumb-item active" aria-current="page">店舗登録</li>
								</ol>
							</nav>

							<h1 class="mb-4 text-center">店舗登録</h1>
							
							<form method="post" th:action="@{/admin/restaurants/create}" th:object="${restaurantRegisterForm}" enctype="multipart/form-data">
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="name" class="col-form-label text-md-left fw-bold">店舗名</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2" th:errors="*{name}"></div>
										<input type="text" class="form-control" th:field="*{name}" autofocus>
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="imageFile" class="col-form-label text-md-left fw-bold">店舗画像</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2" th:errors="*{imageFile}"></div>
										<input type="file" class="form-control" th:field="*{imageFile}">
									</div>
								</div>
								
								<div class="row" id="imagePreview"></div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="description" class="col-form-label text-md-left fw-bold">説明</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('description')}" class="text-danger small mb-2" th:errors="*{description}"></div>
										<textarea class="form-control" th:field="*{description}" cols="30" rows="5"></textarea>
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="openingTime" class="col-form-label text-md-left fw-bold">開店時間</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('openingTime')}" class="text-danger small mb-2" th:errors="*{openingTime}"></div>
										<input type="time" class="form-control" th:field="*{openingTime}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="closingTime" class="col-form-label text-md-left fw-bold">閉店時間</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('closingTime')}" class="text-danger small mb-2" th:errors="*{closingTime}"></div>
										<input type="time" class="form-control" th:field="*{closingTime}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="closedDays" class="col-form-label text-md-left fw-bold">定休日</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('closedDays')}" class="text-danger small mb-2" th:errors="*{closedDays}"></div>
										<input type="text" class="form-control" th:field="*{closedDays}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="lowestPrice" class="col-form-label text-md-left fw-bold">予算価格(下限)</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('lowestPrice')}" class="text-danger small mb-2" th:errors="*{lowestPrice}"></div>
										<input type="number" class="form-control" th:field="*{lowestPrice}" min="1">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="highestPrice" class="col-form-label text-md-left fw-bold">予算価格(上限)</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('highestPrice')}" class="text-danger small mb-2" th:errors="*{highestPrice}"></div>
										<input type="number" class="form-control" th:field="*{highestPrice}" min="1">
									</div>
									<div id="error-message" class="text-danger small"></div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="postalCode" class="col-form-label text-md-left fw-bold">郵便番号</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('postalCode')}" class="text-danger small mb-2" th:errors="*{postalCode}"></div>
										<input type="text" class="form-control" th:field="*{postalCode}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="address" class="col-form-label text-md-left fw-bold">住所</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2" th:errors="*{address}"></div>
										<input type="text" class="form-control" th:field="*{address}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="phoneNumber" class="col-form-label text-md-left fw-bold">電話番号</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2" th:errors="*{phoneNumber}"></div>
										<input type="text" class="form-control" th:field="*{phoneNumber}">
									</div>
								</div>
								
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="categoryId" class="col-form-label text-md-left fw-bold">カテゴリ</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('categoryId')}" class="text-danger small mb-2" th:errors="*{categoryId}"></div>
										<select id="categoryId" name="categoryId" th:field="*{categoryId}" class="form-control">
											<option value="" hidden>カテゴリを選択</option>
											<option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.categoryName}" th:selected="${category.id == restaurantRegisterForm.categoryId}"></option>
										</select>
									</div>
								</div>
								
								<div class="form-group d-flex justify-content-center my-4">
									<button type="submit" class="btn text-white shadow-sm w-50 nagoyamesi-btn">登録</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		<script th:src="@{/js/preview.js}"></script>
	</body>

</html>