<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div> 
         
         <title>パスワードリセット</title>       
     </head>
     <body>
         <div class="nagoyamesi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyamesi-container">
                     <div class="row justify-content-center">        
                         <div class="col-xl-5 col-lg-6 col-md-8">                            
                             <h1 class="mb-4 text-center">パスワードリセット</h1>
                                   
								<div th:if="${errorMessage}" class="alert alert-danger">
									   <span th:text="${errorMessage}"></span>
								</div>
								
								<div th:if="${successMessage}" class="alert alert-info">
									<span th:text="${successMessage}"></span>
								</div>
								
								<form method="POST" th:action="@{/auth/passwordReset}">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
									<div class="form-group row mb-3">
										<div class="col-md-5">
											<label for="email" class="col-form-label text-md-left fw-bold">
												<div class="d-flex align-items-center">
													<span class="me-1">メールアドレス</span>
												</div>
											</label>
										</div>
										
										<div class="col-md-7">
											<input type="email" class="form-control" name="email" autocomplete="email" placeholder="taro.samurai@example.com">
										</div>
									</div>
									
									<div class="form-group d-flex justify-content-center my-4">
										<button type="submit" class="btn text-white shadow-sm w-50 nagoyamesi-btn">パスワード再設定用メール発行</button>
									</div>
								</form>
                         </div>
                     </div>
                 </div>             
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>         
     </body>
 </html>