<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragment ::meta}"></div>

    <div th:replace="~{fragment :: styles}"></div>
    
    <!-- Flatpickr -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>店舗詳細</title>
</head>

<body>
    <div class="nagoyamesi-wrapper">
        <div th:replace="~{fragment ::header}"></div>

        <main>
            <div class="container pt-4 pb-5 nagoyamesi-container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-9 col-lg-10">

                        <nav class="mb-4 d-flex align-items-center justify-content-between" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                                <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                            </ol>
                            <!-- お気に入り -->
                            <div th:if="${#authorization.expression('hasRole(''ROLE_PREMIUM'')')}">
								<div th:if="${hasFavorite}">
									<a href="#" onclick="event.preventDefault(); document.getElementById('favorite-delete-form').submit();">&#9829; お気に入り解除</a>
									<form method="post" th:action="@{/restaurants/__${restaurant.getId()}__/favorites/__${favorite.getId()}__/delete}" id="favorite-delete-form" class="d-none"></form>
								</div>
								<div th:unless="${hasFavorite}">
									<a href="#" onclick="event.preventDefault(); document.getElementById('favorite-create-form').submit();">&#9825; お気に入り追加</a>
									<form method="post" th:action="@{/restaurants/__${restaurant.getId()}__/favorites/create}" id="favorite-create-form" class="d-none"></form>
								</div>
							</div>
                        </nav>

                        <h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>

                        <div th:if="${errorMessage}" class="alert alert-danger">
                            <span th:text="${errorMessage}"></span>
                        </div>

                        <div class="mb-4">
							<div class="mb-4 d-flex justify-content-center">
	                            <img th:if="${restaurant.getImageName()}" th:src="@{/storage/__${restaurant.getImageName()}__}" class="w-100" alt="店舗画像">
	                            <img th:unless="${restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                        	</div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <!-- 左側の説明欄 -->
                                <div class="col-lg-8 mb-4">
                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">店舗名</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getName()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">説明</span>
                                        </div>
                                        <div class="col">
                                            <span class="nagoyamesi-pre-wrap" th:text="${restaurant.getDescription()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">開店時間</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getOpeningTime()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">閉店時間</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getClosingTime()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">定休日</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getClosedDays()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">予算価格(下限)</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${#numbers.formatInteger(restaurant.getLowestPrice(), 1, 'COMMA') + '円～'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">予算価格(上限)</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${'～' + #numbers.formatInteger(restaurant.getHighestPrice(), 1, 'COMMA') + '円'}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">郵便番号</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getPostalCode()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">住所</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getAddress()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">電話番号</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${restaurant.getPhoneNumber()}"></span>
                                        </div>
                                    </div>

                                    <div class="row pb-2 mb-2 border-bottom">
                                        <div class="col-4">
                                            <span class="fw-bold">カテゴリ</span>
                                        </div>
                                        <div class="col">
                                            <span th:text="${category.getCategoryName}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 mb-4">
                                    <div sec:authorize="isAnonymous()">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-text">予約するには<a th:href="@{/login}">ログイン後有料会員</a>へ加入してください。</p>
                                                <button type="submit" class="btn text-white shadow-sm w-100 nagoyamesi-btn" disabled>予約する</button>
                                            </div>
                                        </div>
                                    </div>
                                
                                
                                
                                	<div sec:authorize="hasRole('ROLE_GENERAL')">                  
                                        <div class="card">
                                            <div class="card-body">                                                                                                                                                                                                                     
                                                <p class="card-text">予約するには<br><a th:href="@{/subscription/register}">有料会員へ加入してください。</a></p>                                                                                                                                            
                                                <button type="submit" class="btn text-white shadow-sm w-100 nagoyamesi-btn" disabled>予約する</button>                                                                                                                
                                            </div>
                                        </div>  
                                    </div>
								
								
									<div sec:authorize="hasRole('ROLE_PREMIUM')">                  
                                        <div class="card">
                                            <div class="card-body"> 
                                                <form method="get" th:action="@{/restaurants/__${restaurant.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                    <div class="form-group mb-2">                                            
                                                        <label for="reservationDate" class="col-form-label text-md-left fw-bold">来店日</label>    
                                                        <div th:if="${#fields.hasErrors('reservationDate')}" class="text-danger small mb-2" th:errors="*{reservationDate}"></div> 
                                                        <input type="text" class="form-control" th:field="*{reservationDate}">                          
                                                    </div>
                                                    
                                                    
                                                     <div class="form-group mb-2">
                                                    <label for="reservationTime" class="col-form-label text-md-left fw-bold">予約時間</label>
                                                    <div th:if="${#fields.hasErrors('reservationTime')}" class="text-danger small mb-2" th:errors="*{reservationTime}"></div> 
                                                     <input id="reservationTime" type="text" class="form-control" th:field="*{reservationTime}">
                                                    </div>
                                                    
                                                    
                                                    <div class="form-group mb-4">                                            
                                                        <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">来店人数</label>  
                                                        <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                        <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                    </div>
                                                                                                        
                                                    <div class="form-group">
                                                        <button type="submit" class="btn text-white shadow-sm w-100 nagoyamesi-btn">予約する</button>
                                                    </div>
                                                </form>                                                                     
                                            </div>
                                        </div>
									</div>
								</div>
								
								<!--レビュー-->
								<div class="container px-0">
									<h2 class="mb-4 text-center">レビュー</h2>
									<div sec:authorize="isAuthenticated()" th:unless="${hasUserAlreadyReviewed}" class="row justify-content-center mb-4">
										<div sec:authorize="hasRole('ROLE_PREMIUM')" class="col-lg-4">
											<a th:href="@{/restaurants/__${restaurant.getId()}__/reviews/register}" class="btn text-white shadow-sm w-100 nagoyamesi-btn">レビューを投稿する</a>
										</div>
									</div>
									<div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">
										<p class="text-center">まだレビューがありません。</p>
									</div>
									<div th:unless="${#lists.isEmpty(newReviews)}" class="row row-cols-1 row-cols-md-2 g-4 mb-4">
										<div class="col" th:each="review : ${newReviews}">
											<div class="card">
												<div class="card-body">
													<div class="d-flex justify-content-between">
														<h5 class="card-title" th:text="${review.getUser().getName()}"></h5>
														<span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.getUser().getId()}">
															<a th:href="@{/restaurants/__${restaurant.getId()}__/reviews/__${review.getId()}__/edit}" class="me-2">編集</a>
															<a href="#" class="nagoyamesi-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
															<!--削除モーダル-->
															<div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.getId()}" th:text="${restaurant.getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
																			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
																		</div>
																		<div class="modal-footer">
																			<form method="post"th:action="@{/restaurants/__${restaurant.getId()}__/reviews/__${review.getId()}__/delete}">
																				<button type="submit" class="btn nagoyamesi-btn-danger text-white shadow-sm">削除</button>
																			</form>
																		</div>
																	</div>
																</div>
															</div>
														</span>
													</div>
													<p class="card-text mb-1">
														<span class="nagoyamesi-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.getRating()} ? '&#9733;' : '&#9734;'"></span>
													</p>
													<p class="card-text"><small class="text-muted" th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></small></p>
													<p class="card-text" th:text="${review.getContent()}"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="text-center mb-4" th:if="${totalReviewCount > 6}">
									<a th:href="@{/restaurants/__${restaurant.getId()}__/reviews}">すべてのレビューを見る</a>
								</div>
								
							</div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <div th:replace="~{fragment :: footer}"></div>

    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    
    <!-- Flatpickr -->
         <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
         <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
         <script th:src="@{/js/flatpickr.js}"></script>

</body>

</html>